*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navcontainer{
    display: flex;
    justify-content: flex-start;
   
    background-color: #1f2937;
    color: white;
  /*   border: solid 3px red; */
    padding-left: 250px;
}

.logo{
    height: auto;
    width: 50px;
}

.navitems{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
display: flex;
/* border: solid 3px yellow; */
padding-right: 350px ;
font-size: 24px;
margin: 6px;
gap: 20px;
justify-content: flex-end;
flex: 1 0 0;

}


.hero-box{
    /* border: solid rgb(255, 0, 191) 3px; */
    background-color:slategray;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-box-right{
    /* border: red solid 3px; */
    height: 290px;
    margin-top: 80px;
    flex: 0 1 0;
    
    }

.hero-box-left{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  /*   border: solid rgb(11, 201, 21) 3px; */
    background-color: slategray;
    padding-bottom: 80px;
    padding-top: 80px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    flex: 0 1 0;
}

.hero-header{
    font-size: 46px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #f9faf8;
   /*  border: solid yellow; */
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 600px;
    flex: 1 1 0;
   
    
}

.hero-text{
/* border: solid tomato; */
color: #e5e7eb;
display: flex;
align-items: center;
width: 600px;
flex: 1 1 60px;
}

.hero-button{
    color: white;
    font-size: 16px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    padding: 10px;
    /* border: solid rebeccapurple 3px; */
    align-self: flex-end;
    justify-content: center;
    width: 150px;
    flex: 0 1 10px;    
}
    





a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}